@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Fira+Sans+Extra+Condensed:wght@900&display=swap");
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  font-family: "Fira Sans", sans-serif;
  background-color: #007bff !important;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Fira Sans Extra Condensed", sans-serif;
}

a:hover {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
